<div>
    <label>Villain name:
        <input #villainName />
    </label>
    <button (click)="add(villainName.value); villainName.value=''">
        add
    </button>
</div>
<h2>Villains</h2>
<ul class="heroes">
    <li *ngFor="let villain of villains; trackBy:identify">
        <a routerLink="/villaindetail/{{villain.id}}"><span class="badge">{{villain.id}}</span> {{villain.name}}</a>
        <button class="delete" title="delete villain" (click)="delete(villain)">x</button>
    </li>
</ul>