<ul class="heroes" *ngShow="villains !== undefined && villains.length">
    <li *ngFor="let villain of villains; trackBy:identify" appHighlight>
        <a routerLink="/villaindetail/{{villain.id}}"> {{villain.id}} {{villain.name}}</a>
    </li>
</ul>