a {
    color: #333;
    text-decoration: none;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: inherit;
  }
a:hover{
    color: #EEE !important;
}

.heroes {
    z-index: 1;
    top: -32px;
    position: relative;
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    height: 7em;
    width: 17em;
    overflow-y: scroll;
    background-color: #EEE;
    border-color: black;
    border-style: solid;
    border-radius: 7px;
    border-width: 1px;
}

.heroes li {
    position: relative;
    cursor: pointer;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
    border-style: solid;
    border-color: black;
    border-width: 0.5px;
    text-align: center;
}

/* .heroes li:hover{
    background-color: #683f46;
} */

:host{
    background-color: blue;
}