<div *ngIf="hero">
    <button (click)="goBack()">go back</button>
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="hero.name" placeholder="name"/>
        </label>
    </div>
    <button (click)="save()">save</button>
    <app-villains [hero]="hero"></app-villains>
</div>