<div>
    <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero" (click)="delete()">x</button>
    <app-villain-tooltip [hero]="hero"></app-villain-tooltip>
</div>