<h1>{{title}}</h1>
<nav>
    <a routerLink="/heroes">Heroes</a>
    <a routerLink="/dashboard">Dashboard</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
<div *ngIf="false; else showItem2">Item 1</div> 
<ng-template #showItem2> <input #name> </ng-template>
