<div id="search-component">
    <h4><label for="search-box">Search</label></h4>

    <input #searchBox id="search-box" (input)="search(searchBox.value)"/>

    <ul class="search-result">
        <li *ngFor="let character of characters$; trackBy:identify">
            <a routerLink="/{{url}}/{{character.id}}">
                {{character.name}}
            </a>
        </li>
    </ul>
</div>