<h2>My Heroes</h2>
<div>
    <label>Hero name:
        <input #heroName />
    </label>
    <button (click)="add(heroName.value); heroName.value=''">
        add
    </button>
</div>
<ul class="heroes">
    <li *ngFor="let hero of heroes; trackBy:identify" >
        <app-hero [hero]="hero"></app-hero>
    </li>
</ul>

<div> <app-hero [hero]="heroes[0]"></app-hero> </div>