<div *ngIf="villain">
    <button (click)="goBack()">go back</button>
    <h2>{{villain.name | uppercase}} Details</h2>
    <div><span>id: </span>{{villain.id}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="villain.name" placeholder="name"/>
        </label>
    </div>
    <button (click)="save()">save</button>

    <app-search url="villaindetail" [service]="service"></app-search>
</div>